<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system.mapper.UserSecretProtectMapper">
    
    <resultMap type="UserSecretProtect" id="UserSecretProtectResult">
        <result property="id"    column="id"    />
        <result property="question"    column="question"    />
        <result property="answer"    column="answer"    />
        <result property="userId"    column="user_id"    />
    </resultMap>
	
	<sql id="selectUserSecretProtectVo">
        select a.id, a.question, a.answer, a.user_id from user_secret_protect a
        left join sys_user u on a.user_id=u.user_id
    </sql>
	
    <select id="selectUserSecretProtectList" parameterType="UserSecretProtect" resultMap="UserSecretProtectResult">
        <include refid="selectUserSecretProtectVo"/>
        <where>  
            <if test="id != null "> and a.id = #{id}</if>
             <if test="question != null  and question != '' "> and a.question = #{question}</if>
             <if test="answer != null  and answer != '' "> and a.answer = #{answer}</if>
             <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="params.loginName != null and params.loginName != ''">
                and u.login_name =#{params.loginName} and u.del_flag = '0'
            </if>
         </where>
    </select>
    
    <select id="selectUserSecretProtectById" parameterType="Long" resultMap="UserSecretProtectResult">
        <include refid="selectUserSecretProtectVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertUserSecretProtect" parameterType="UserSecretProtect">
        insert into user_secret_protect
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="question != null  and question != ''  ">question,</if>
			<if test="answer != null  and answer != ''  ">answer,</if>
			<if test="userId != null  ">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="question != null  and question != ''  ">#{question},</if>
			<if test="answer != null  and answer != ''  ">#{answer},</if>
			<if test="userId != null  ">#{userId},</if>
         </trim>
    </insert>
	 
    <update id="updateUserSecretProtect" parameterType="UserSecretProtect">
        update user_secret_protect
        <trim prefix="SET" suffixOverrides=",">
            <if test="question != null  and question != ''  ">question = #{question},</if>
            <if test="answer != null  and answer != ''  ">answer = #{answer},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUserSecretProtectByUserId" parameterType="Long">
        delete from user_secret_protect where user_id = #{userId}
    </delete>
	
    <delete id="deleteUserSecretProtectByIds" parameterType="String">
        delete from user_secret_protect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>