<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userAppint-edit" th:object="${userAppint}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">用户：</label>
                <div class="col-sm-8">
                    <label class="control-label" th:text="*{userName}"></label>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">医生：</label>
                <div class="col-sm-8">
                    <label class="control-label" th:text="*{doctorName}"></label>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <label class="control-label" id="status" th:text="*{status}"></label>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">预约日期：</label>
                <div class="col-sm-8">
                    <label class="control-label" th:text="*{appointDate}"></label>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">预约备注：</label>
                <div class="col-sm-8">
                    <label class="control-label" th:text="*{remark}"></label>
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script th:inline="javascript">
        var datas = [[${@dict.getType('appoint_status')}]];
        $(function () {
            $("#status").html($.table.selectDictLabel(datas, $("#status").html()));
        });
    </script>
</body>
</html>
